body{
    margin: 0;
}
.main{
    width: 50%;
    margin:0 auto;
}
.cookies{
    height: 100px;
    width: 100%;
    background-color: yellow;
    position: fixed;
    bottom: 0;
    text-align: center;
}