*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}
body{
  text-align: center;
}
.button{
  padding: 10px 30px;
  margin: 10px;
  color: #fff;
  background-color: rgb(24, 2, 66);
  border: 1px solid #000;
  border-radius: 5px;
}
.off{
  opacity: 0.2;
}
