body{
    margin: 0;
    border: 8px solid gray;
}
.box_article{
    box-sizing: border-box;
    margin: 106px;
}
.autor{
    font-size: 18px;
    margin-bottom: 40px;
}
.title{
    font-size: 32px;
    margin-bottom: 32px;
}
.text{
    font-size: 18px;
    margin-bottom: 27px;
}
.link{
    padding: 8px 16px;
    margin-left: -16px;
}
